.navbar ul {
list-style-type: none;
padding: 0px;
margin: 0px;
background-color: black;
overflow: hidden;
display: block;
}
h1 {
text-align:center;
color: black;
}
.navbar li {
    display: inline-block;
list-style: none;
margin: 10px 15px;

}
.navbar a {
padding: 10px;
color: white;
margin: 15px;
width: 100%;
}
body {
    background-image: url(Images/Eduardo-Estrada-Coiba-Ranger-Station-scaled.jpg);
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
    }