.navbar ul {
list-style-type: none;
padding: 0px;
margin: 0px;
background-color: black;
overflow: hidden;
display: block;
}
h1 {
text-align: left;
color: black;
}
.navbar li {
    float: left;
}
.navbar a {
padding: 10px;
color: white;
margin: 15px;
width: 100%;
}
body {
    background-image: url(Images/Eduardo-Estrada-Coiba-Ranger-Station-scaled.jpg);
}